<nav>
            <ul>
                <li><a href="{{ path('meal') }}">Home</a></li>
                <li><a href="{{ path('language_switch', {'_locale': 'it'}) }}">IT</a></li>
                <li><a href="{{ path('language_switch', {'_locale': 'en'}) }}">EN</a></li>
                <li><a href="{{ path('language_switch', {'_locale': 'es'}) }}">ES</a></li>
            </ul>
        </nav>